[submodule "extern/WindowsToolchain"]
	path = Extern/WindowsToolchain
	url = https://github.com/MarkSchofield/WindowsToolchain.git
[submodule "Extern/cximage-git"]
	path = Extern/cximage-git
	url = https://github.com/minnyres/cximage.git
[submodule "Extern/DxErr-git"]
	path = Extern/DxErr-git
	url = https://github.com/rbeesley/DXErr.git
[submodule "src/3rd party/optick-git"]
	path = Extern/optick-git
	url = https://github.com/bombomby/optick.git
[submodule "Extern/StackWalker-git"]
	path = Extern/StackWalker-git
	url = https://github.com/JochenKalmbach/StackWalker.git
