[submodule "extern/WindowsToolchain"]
	path = Extern/WindowsToolchain
	url = https://github.com/MarkSchofield/WindowsToolchain.git
[submodule "Extern/cximage-git"]
	path = Extern/cximage-git
	url = https://github.com/minnyres/cximage.git
[submodule "Extern/DxErr-git"]
	path = Extern/DxErr-git
	url = https://github.com/rbeesley/DXErr.git
[submodule "Extern/IconFontCppHeaders"]
	path = Extern/IconFontCppHeaders-git
	url = https://github.com/juliettef/IconFontCppHeaders.git
[submodule "Extern/imgui-git"]
	path = Extern/imgui-git
	url = https://github.com/ocornut/imgui.git
[submodule "src/3rd party/optick-git"]
	path = Extern/optick-git
	url = https://github.com/bombomby/optick.git
[submodule "Extern/StackWalker-git"]
	path = Extern/StackWalker-git
	url = https://github.com/JochenKalmbach/StackWalker.git
[submodule "Extern/libjpeg-git"]
	path = Extern/libjpeg-git
	url = https://github.com/kloper/libjpeg
[submodule "Extern/luasocket"]
	path = Extern/luasocket-git
	url = https://github.com/lunarmodules/luasocket.git
[submodule "Extern/LuaPanda-git"]
	path = Extern/LuaPanda-git
	url = https://github.com/Tencent/LuaPanda.git
[submodule "Extern/luafilesystem-git"]
	path = Extern/luafilesystem-git
	url = https://github.com/lunarmodules/luafilesystem
[submodule "Extern/lua-marshal-git"]
	path = Extern/lua-marshal-git
	url = https://github.com/richardhundt/lua-marshal.git
[submodule "Extern/libogg-git"]
	path = Extern/libogg-git
	url = https://github.com/gcp/libogg.git
[submodule "Extern/libtheora-git"]
	path = Extern/libtheora-git
	url = https://github.com/xiph/theora.git
