[submodule "src/3rd party/optick-git"]
	path = Extern/optick-git
	url = https://github.com/bombomby/optick.git
[submodule "extern/WindowsToolchain"]
	path = Extern/WindowsToolchain
	url = https://github.com/MarkSchofield/WindowsToolchain.git
[submodule "Extern/cximage-git"]
	path = Extern/cximage-git
	url = https://github.com/minnyres/cximage.git
